services:
  - type: web
    name: plate-planner
    env: node
    plan: free
    buildCommand: npm install && cd server && npm install --include=dev && cd ../client && npm install --include=dev && npm run build
    startCommand: cd server && npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false

