.recipeCard:hover {
    box-shadow: 0 0 20px 0 var(--pink) !important;
    transition: 0.3s !important;
    cursor: pointer !important;
    text-decoration: underline var(--pink) !important;
}

.recipeImg {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 250px;
    object-fit: cover;
}

.modal {
    cursor: default !important;
}