.list-container {
    position: absolute;
    top: 20%;
    border: 1px solid var(--blue);
    border-radius: 15px;
    right: 7px !important;
    overflow-y: hidden !important;
    height: 75% !important;
}


.list-container-fixed {
    position: fixed !important;
    top: 4% !important;
}

.shopping-list {
    overflow-y: auto !important;
    position: relative !important;
    height: 80% !important;
}

.shopping-list::-webkit-scrollbar {
    display: none;
}

.list-btns {
    position: absolute !important;
    top: 90% !important;
}

.mobile-list-btn {
    position: fixed;
    bottom: 1%;
    right: 10px;
    width: 75px;
    background-color: var(--green);
}