header {
    max-height: 16vh;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 32px;
}

.header-logo {
    object-fit: cover;
    height: 15vh;
    margin-left: 100px;
}

.navBtn {
    color: var(--white);
    border-radius: 7px;
    text-wrap: wrap;
    background-color: var(--blue);
}

.navBtn:hover {
    color: white;
    background-color: var(--yellow);
    box-shadow: 0 0 10px var(--yellow);
}

.navBtn,
.navBtn:hover {
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.loginBtn {
    color: white;
    background-color: var(--green);
    border-radius: 7px;
    text-align: center;
}

.loginBtn:hover {
    color: white;
    background-color: var(--green);
    box-shadow: 0 0 10px var(--green);
}

.loginBtn,
.loginBtn:hover {
    transition: box-shadow 0.2s ease-in-out;
}

.mobile-nav-btn {
    background-color: var(--green);
    height: 50px;
    width: 50px;
    border-radius: 7px;
    margin: 10px;
}

.dropdown-item {
    color: var(--blue) !important;
}

.dropdown-item:hover {
    color: var(--blue) !important;
    background-color: var(--green) !important;
}

@media screen and (max-width: 1200px) {
    header {
        font-size: 30px;
    }

    .header-logo {
        margin-left: 30px;
    }

}

@media screen and (max-width: 992px) {
    header {
        font-size: 24px;
    }

    .header-logo {
        margin-left: 5px;
    }
}

@media screen and (max-width: 450px) {
    .mobile-nav-btn {
        height: 40px;
        width: 40px;
        border-radius: 7px;
        margin: 5px;
    }
}