.home-body-bg {
    width: 100vw;
    height: 84vh;
    background-color: var(--blue);
    overflow: hidden;
    position: relative;
}

.home-body-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-right: 100vw solid transparent;
    border-top: 84vh solid var(--white);
}

.intro-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 550px;
}

.circleImg {
    width: 550px;
    height: 550px;
}

.about {
    height: 550px;
    width: 550px;
    border-radius: 7px;
    font-size: 40px;
}

.howItWorks h1 {
    font-size: 3.5rem;
}

@media screen and (max-width: 1200px) {
    .circleImg {
        width: 450px;
        height: 450px;
    }

    .about {
        height: 450px;
        width: 450px;
        font-size: 32px;
    }
}

@media screen and (max-width: 992px) {
    .circleImg {
        width: 350px;
        height: 350px;
    }

    .about {
        height: 350px;
        width: 350px;
        font-size: 24px;
    }
}

@media screen and (max-width: 768px) {
    .intro-container {
        top: 13%;
        height: 700px;
    }

    .circleImg {
        width: 350px;
        height: 350px;
    }

    .about {
        height: 350px;
        width: 350px;
        font-size: 24px;
    }

    .howItWorks h1 {
        font-size: 3rem;
    }
}