.list-card {
    border: 1px solid var(--blue);
    border-radius: 15px;
    height: 86vh;
}

.main-shopping-list {
    overflow-y: auto !important;
    position: relative !important;
    max-height: 80% !important;
}

.main-shopping-list::-webkit-scrollbar {
    display: none;
}

.myCheckBox {
    width: 25px !important;
    height: 25px !important;
    border: 1px solid var(--blue) !important;
}