:root {
    --orange: #c85103;
    --yellow: #f8eb31;
    --green: #229928;
    --brown: #8E735B;
    --blue: #05347e;
    --navy: #070974;
    --red: #eb2525;
    --white: #f6f6f6;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.75s ease-in-out;
}

.myBody {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    color: var(--navy);
}

.text-blue {
    color: var(--blue) !important;
}

.app-bg {
    background-color: var(--white);
    height: 100vh;
    width: 100vw;
    z-index: -2;
    position: fixed;
}

.body-bg {
    width: 100vw;
    height: 84vh;
    background-color: var(--white);
    overflow: hidden;
    position: fixed;
    z-index: -1;
}

.body-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-left: 100vw solid transparent;
    border-bottom: 84vh solid var(--blue);
    z-index: -1;
}

.bubblegum {
    font-family: "Bubblegum Sans", sans-serif;
}

.bg-w {
    background-color: var(--white) !important;
}

.bg-orange {
    background-color: var(--orange) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.bg-green {
    background-color: var(--green) !important;
}

.bg-yellow {
    background-color: var(--yellow) !important;
}

.border-white {
    border: var(--white) 3px solid;
}

.border-blue {
    border: var(--blue) 3px solid !important;
}

.border-top-blue {
    border-top: var(--blue) 3px solid;
}

.border-bottom-blue {
    border-bottom: var(--blue) 3px solid;
}

input {
    border: var(--blue) 2px solid !important;
    border-radius: 5px !important;
}

.btn-primary {
    border: var(--blue) 2px solid !important;
    background-color: var(--blue) !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: var(--white) !important;
    color: var(--blue) !important;
}

.btn-success {
    border: var(--green) 2px solid !important;
    background-color: var(--green) !important;
    color: white !important;
}

.btn-success:hover {
    background-color: var(--white) !important;
    color: var(--green) !important;
}

.btn-danger {
    border: var(--red) 2px solid !important;
    background-color: var(--red) !important;
    color: white !important;
}

.btn-danger:hover {
    background-color: var(--white) !important;
    color: var(--red) !important;
}

.btn-secondary {
    border: grey 2px solid !important;
    background-color: grey !important;
    color: white !important;
}

.btn-secondary:hover {
    background-color: var(--white) !important;
    color: grey !important;
}

.img {
    object-fit: cover;
}

.max-img-height {
    max-height: 300px;
}

@media screen and (max-width: 992px) {
    .body-bg {
        height: 88vh;
    }
}