:root {
    --orange: #c85103;
    --yellow: #f7d51d;
    --green: #229928;
    --brown: #8E735B;
    --blue: #05347e;
    --red: #eb2525;
    --white: #f6f6f6;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.fade-in {
    animation: fade-in 0.75s ease-in-out;
}

.myBody {
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
}

.body-bg {
    width: 100vw;
    height: 84vh;
    background-color: var(--blue);
    overflow: hidden;
    position: relative;
}

.body-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-right: 100vw solid transparent;
    border-top: 84vh solid var(--white);
}

.bubblegum {
    font-family: "Bubblegum Sans", sans-serif;
}

.bg-light-yellow {
    background-color: var(--white) !important;
}

.bg-orange {
    background-color: var(--orange) !important;
}

.bg-blue {
    background-color: var(--blue) !important;
}

.border-white {
    border: var(--white) 3px solid;
}

.border-top-blue {
    border-top: var(--blue) 3px solid;
}

.border-bottom-blue {
    border-bottom: var(--blue) 3px solid;
}

.btn-primary {
    border: var(--blue) 2px solid !important;
    background-color: var(--blue) !important;
    color: white !important;
}

.btn-primary:hover {
    background-color: var(--white) !important;
    color: var(--blue) !important;
}

.btn-success {
    border: var(--green) 2px solid !important;
    background-color: var(--green) !important;
    color: white !important;
}

.btn-success:hover {
    background-color: var(--white) !important;
    color: var(--green) !important;
}

.btn-danger {
    border: var(--red) 2px solid !important;
    background-color: var(--red) !important;
    color: white !important;
}

.btn-danger:hover {
    background-color: var(--white) !important;
    color: var(--red) !important;
}

.btn-secondary {
    border: grey 2px solid !important;
    background-color: grey !important;
    color: white !important;
}

.btn-secondary:hover {
    background-color: var(--white) !important;
    color: grey !important;
}

.img {
    object-fit: cover;
}

.max-img-height {
    max-height: 300px;
}

@media screen and (max-width: 1200px) {
    h1 {
        font-size: 32px !important;
    }

    h2 {
        font-size: 24px !important;
    }

}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 24px !important;
    }

    h2 {
        font-size: 20px !important;
    }
}

@media screen and (max-width: 768px) {
    h3 {
        font-size: 18px !important;
    }
}